.load-more {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;    
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 350px;
    height: fit-content;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info-item {
    color: #212121;
    margin: 5px;
}

a {
    text-decoration: none;
}

.visually-hidden {
    clip-path: inset(100%);
    overflow: hidden;
}